.left-menu h3{
    margin:50px 10px;
    cursor: pointer;
    padding: 20px;
}
.left-menu h3:hover{
    background-color: #3c756a;
    border-radius: 10px;
}
.left-menu-full{
    padding-top: 40px;
    background-color: #84CEEB;
    color:black;
    min-height: 100vh;
}
.admin-title hr{
    background-color: white;
}
.right-part{
    min-height: 100%;
    background-color: #F9ECEC;
}